body {
	font-family: Arial, Helvetica, sans-serif;
	/* Adjust for font from google, placeholder */
	justify-content: space-around;
	text-align: center;
	background-color: green;
	color: white;
}

h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column-reverse;
	font-size: 90px;
}

#message {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	font-size: 35px;
	font-style: italic;
}

.dealerContainer {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	overflow: hidden;
}

#hiddenCard img {
	margin-bottom: 50px;
	display: block;
	width: 200px;
	height: 200px;
}

.dealerCards {
	margin-bottom: 45px;
	margin-top: -255px;
}

#bankRoll {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-style: italic;
}
.playerCards {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.buttonContainer {
	display: flex;
	position: relative;
	justify-content: center;
	flex-direction: row;
	align-items: flex-end;
}

.buttonContainer :hover {
	background-color: blue;
	color: white;
}
