body {
	font-family: 'Playfair Display', serif;
	justify-content: space-around;
	text-align: center;
	background: linear-gradient(to right, #0a4434, green);
	color: white;
}

h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column-reverse;
	font-size: 90px;
	color: #c3a343;
}

#message {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	font-size: 35px;
	font-style: italic;
	color: black;
}

.dealerContainer {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	overflow: hidden;
}

#hiddenCard img {
	margin-bottom: 50px;
	display: block;
	width: 200px;
	height: 200px;
}

.dealerCards {
	margin-bottom: 45px;
	margin-top: -255px;
}

#bankRoll {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-style: italic;
}

#betAmount {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: flex-end;
}

.playerCards {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.playerWinsAnimation {
	font-family: 'Montserrat';
	font-weight: 800;
	font-size: 3.5rem;
	word-spacing: 1rem;
}
.buttonContainer button {
	display: inline-flex;
	position: relative;
	justify-content: space-evenly;
	flex-direction: row;
	align-items: center;
	width: 10%;
	height: 75px;
	border: 2px double goldenrod;
	font-size: 15px;
}
